<p class="hint">
  <br>
  Параметры min и max задаются напрямую в планировщике. Значения по-умолчанию 1 и 20 соответственно.<br>
  <code class="highlighted">php {$path}/cli.php shop guesshowmanyordersdoihave -min 1 -max 20</code><br>
  <a href="http://hardmandev.com/article/nastroyka-cron-dlya-webasyst/" target="_blank">Подробнее</a> о настройке Cron.<br>
</p>
<p class="hint">
  Прибавка осуществляется к номеру последнего заказа. Поэтому повторный запуск команды по расписанию может не изменить номер, если у вас нет естественных заказов. Например, последний естественный заказ #10047:
</p>
<ol class="hint">
  <li>Сработала автоматическая надбавка, следующий заказ <em>будет</em> #10061 (выпало случайное число 14).</li>
  <li>Сработало задание планировщика, следующий заказ <em>будет</em> #10056 (выпало случайное число 9).</li>
  <li>Сработало задание планировщика, следующий заказ <em>будет</em> #10058 (выпало случайное число 11).</li>
</ol>
<p class="hint">Т.е. случайное число каждый раз добавляется к последнему номеру - 47. И так, пока не будет оформлен реальный заказ.</p>
